h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
}

#cart-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.modal-content {
    border-radius: 20px;
    padding: 20px;
}
.modal-body img {
    border-radius: 10px;
    margin-bottom: 15px;
}
